{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
  <main class="about">
    <h2>Mazao Mema</h2>
    <article>
      <h2>About Us</h2>
      <p>Welcome to Mazao Mema services. We offer information to farmers and other agricultural stakeholders on weather, markets, input suppliers (seeds, fertilizers) and agricultural consultants. the information is offered for specific counties. Currently the counties served are: Meru, Kiambu, Kajiado, Machakos and Muranga.
      </p>
    </article>
  </main>
{% endblock %}
