{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1>Mazao Mema</h1>
  <h2>{{ name }} County</h2>
  <div class="service">
    <form action="#" method="post">
      <label for="service"><h2>Choose a Service</h2></label>
      <select name="service" id="service">
        <option value="Consultant">Consultants</option>
        <option value="InputDealer">Input Dealers</option>
        <option value="Buyer">Market</option>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
