{% extends "layout.html" %}

{% block title %}Choose Service{% endblock %}

{% block body %}
  <main class="service">
    <h2>Mazao Mema</h2>
    <h2>{{ name }} County</h2>
    <form action="/county/service" method="POST">
    <label for="service">Choose a Service</label><br>
      <select name="service" id="service">
        <option value="consultant">Consultants</option>
        <option value="inputdealer">Input Dealers</option>
        <option value="buyer">Buyers</option>
      </select>
      <br><br>
      <input type="submit">Submit</button>
    </form>
  </main>
{% endblock %}
